.s_tbdr {
  border: 1px dashed red;
}

.s_footer_top {
  height: 2640px;
}
.s_footer_bottom {
  background-color: #172337;
}
.s_footer_bottom > div:first-child {
  height: 273px;
  border: 1px solid red;
}
.s_footer_bottom > div:last-child {
  height: 72px;
}
main {
  height: 7450px;
  background-color: #f1f3f6;
}
.s_header_top {
  height: 60px;
  background-color: #2874f0;
  z-index: 1;
}
.s_header_bottom {
  height: 98px;
  margin-top: 60px;
}
.s_plus {
  /* background-image: url("/img/plus.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center; */
  /* shorrthand property for background image */
  background:url("/img/plus.png") right center/contain no-repeat;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1248px;
  }
}
